name: unit tests

on:
  workflow_call:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: ./.github/actions/setup-go
      - name: logging unit tests
        run: |
          cd logging
          go test -v ./...
      - name: chart unit tests
        run: |
          cd installation/chart
          go test -v ./...
