name: pull
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, converted_to_draft]

jobs:
  unit-tests:
    uses: ./.github/workflows/_unit-tests.yaml

  gitleaks:
    uses: ./.github/workflows/_gitleaks.yaml