name: push
on:
  push:
    branches:
      - main

jobs:
  tag-commit:
    name: Create tag for commit
    runs-on: ubuntu-latest

    steps: 
    - uses: actions/checkout@v6
      with:
        token: ${{ secrets.BOT_TOKEN }}
    
    - name: Check if only self dependencies changed
      id: skip-check
      run: |
        # Check for changes other than go.sum updates for self dependencies
        # Elements:
            # git diff -U0 -- . ":(exclude)*/go.sum" - exclude go.sum files from diff to focus on other files (like go.sum)
            # -e '/^\(+\|-\)\s/!d' - keep only added/removed lines
            # -e '/\tgithub.com\/kyma-project\/manager-toolkit/d' - remove lines that correspond to changes in go.sum for self dependencies
        OTHER_CHANGES_THAN_DEPENDENCIES=$(git diff -U0 -- . ":(exclude)*/go.sum" | sed -e '/^\(+\|-\)\s/!d' -e '/\tgithub.com\/kyma-project\/manager-toolkit/d')
        
        SKIP_TAG=$([ -z "$OTHER_CHANGES_THAN_DEPENDENCIES" ] && echo "false" || echo "true")
        echo "SKIP_TAG=${SKIP_TAG}" >> $GITHUB_OUTPUT
    
    - name: Calculate tags
      if: steps.skip-check.outputs.SKIP_TAG == 'false'
      id: calculate-tag
      run: |
        # calculate base tag
        COMMIT_HASH=$(git rev-parse --short HEAD)
        COMMIT_DATE=$(date -d "@$(git show --no-patch --format=%ct ${COMMIT_HASH})" +'%y%m%d.%H%M%S')
        TAG_BASE="v0.${COMMIT_DATE}-${COMMIT_HASH}"
        TAGS="${TAG_BASE}"

        # find all affected packages
        PACKAGES="$(grep --include="*go.mod" -r "module github.com/kyma-project/manager-toolkit/" --include="*.mod" . | sed 's/.*manager-toolkit\///g')"
        FILES_CHANGED=$(git diff HEAD^ HEAD --name-only)
        for dep in ${PACKAGES}; do
            if [ -n "$(echo $FILES_CHANGED | sed '/^${dep}/!d')" ]; then
                echo "Dependency content ${dep} changes detected"
                TAGS="${TAGS} ${dep}/${TAG_BASE}"
            else
                echo "Dependency ${dep} no changes detected"
            fi
        done

        echo "Tags: $TAGS"
        echo "TAGS=${TAGS}" >> $GITHUB_OUTPUT
        
    - name: Create and push tags
      if: steps.skip-check.outputs.SKIP_TAG == 'false'
      run: |
        for TAG in "${{ steps.calculate-tag.outputs.TAGS }}"; do
          echo "Creating and pushing tag: $TAG"
          git tag -f $TAG
          git push origin $TAG
        done
